#campo_busca {
  color: #a7b9e5;
  border: 1px solid #000aff;
  background-color: #f4efef;
  border-radius: 5px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

#txtBusca {
  height: 60px;
  flex: 1;
  border: none;
  background-color: transparent;
  font-size: 2em;
  padding-left: 20px;
  outline: none;
}

#campo_busca #btnBusca {
  background-color: #013f4a;
  height: 60px;
}

#campo_busca #btnBusca:hover {
  background-color: rgba(1, 63, 74, 0.67);
  cursor: pointer;
}

#campo_busca #btnLupa {
  border: none;
  outline: none;
  cursor: pointer;
  background: rgba(1, 63, 74, 0.67);
  padding: 10px;
  margin: 0 2px;
}

#campo_busca #btnLupa:hover {
  background-color: #013f4a;
}
#menu {
  margin-top: 30px;
  width: 100%;

  display: flex;
}

#menu button {
  border: 1px solid #000000;
  border-radius: 15px;
  text-decoration: none;
  color: #000000;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  width: 215px;
  text-align: center;
  font-size: 1.2em;
  outline: none;
  font-weight: bold;
  margin-right: 10px;
}
#menu button:last-child {
  margin-right: 0px;
}
#menu button.active {
  background-color: rgba(1, 63, 74, 0.67);
  color: #ffffff;
}

#menu button:hover {
  color: #ffffff;
  background-color: rgba(1, 63, 74, 0.67);
  border: 1px solid rgba(1, 63, 74, 0.67);
}

#conteudo {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 600px;
}

#conteudo .produtos {
  background-color: rgba(1, 63, 74, 0.67);
  width: 18%;
  text-align: center;
  padding: 1%;
  margin: 20px 10px;
}

#conteudo .produtos .nome_produto {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

#conteudo .produtos .img_produto {
  margin-top: 10px;
  width: 180px;
  height: 180px;
  background-color: #ccc;
  text-align: center;
}

#conteudo .produtos .detalhes {
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

#conteudo .produtos .detalhes a {
  color: #0000ff;
}

#conteudo .produtos .detalhes a:hover {
  color: #013f4a;
}

#conteudo .produtos button {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.1em;
  margin-top: 25px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  background-color: #013f4a;
}

#conteudo .produtos button:hover {
  background-color: #ffffff;
  color: #013f4a;
  font-weight: bold;
  cursor: pointer;
}
body {
  overflow: hidden;
}
